body {
    font-family: "Sora", sans-serif;
}

button {
    font-family: "Sora", sans-serif;
}

.menu-navegacao {
    display: flex;
    align-items: center;

}

.item-menu {
    display: flex;
    align-items: center;

    height: 100px;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
    color: black;
    padding: 0px 10px;
}

.item-menu:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.bloco-dois {

    display: flex;
}

.texto-principal {
    font-size: 40px;
    line-height: 130%;
}

.subtexto {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
}

.inicio {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.negrito {
    font-weight: bold;
}

.img-inicio {
    height: 425px;
    margin-top: 60px;
}

.botao-menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.botao-menu-principal:hover {
    background-color: #1FAB68;
}

.botao-redes-sociais {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 32px;
}

.botao-rede-social {
    padding: 15px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-rede-social:hover {
    color: white;
    background-color: black;
}

.texto-verde {
    color: #1FAB68;
}

.bloco-tres {
    padding: 50px;
}

.habilidades {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}

.lista-habilidades {
    display: flex;
    gap: 10px;
    margin-top: 64px;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidade {
    border: 2px black solid;
    border-radius: 5px;
    padding: 35px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    min-width: 186px;
    font-size: 60px;
}

.habilidade span {
    font-size: 1rem;
    font-weight: bold;
}

.habilidade:hover {
    color: white;
    background-color: black;
}

.experiencia {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.bloco-quatro {
    background-color: black;
    padding: 40px;
}

.experiencias {
    color: white;
    font-size: 20px;
    border: 2px solid #27272A;
    border-radius: 5px;
    padding: 20px;
}

.experiencias:hover {
    background-color: #27272A;

}

.texto-exp {
    color: rgba(255, 255, 255, 0.719);
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
}

.exp {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.inline-block {
    display: inline-block;
}

.bloco-cinco {
    display: flex;
    padding: 50px;

}

.sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 70px 0px 70px;
}

.bloco-cinco h2 {
    font-size: 48px;
}

.img-dois {
    width: 525.42px;
    height: 572px;
    padding-left: 40px;
}

.bloco-cinco p {
    font-size: 16px;
    line-height: 24px;
    color: #71717A;
}

.bloco-seis {
    display: flex;
    
}

.bloco-seis p {
    display: flex;
    flex-direction: column;
}