body {
    font-family: "Sora", sans-serif;
}

button {
    font-family: "Sora", sans-serif;
}

.menu-navegacao {
    display: flex;
    align-items: center;

}

.item-menu {
    display: flex;
    align-items: center;

    height: 100px;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
    color: black;
    padding: 0px 10px;
}

.item-menu:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.apresentacao {

    display: flex;
}

.texto-principal {
    font-size: 40px;
    line-height: 130%;
}

.subtexto {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
}

.inicio {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.negrito {
    font-weight: bold;
}

.img-apresentacao {
    height: 425px;
    margin-top: 60px;
}

.botao-menu-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.botao-menu-principal:hover {
    background-color: #1FAB68;
}

.botao-redes-sociais {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 32px;
}

.botao-rede-social {
    padding: 15px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-rede-social:hover {
    color: white;
    background-color: black;
}

.texto-verde {
    color: #1FAB68;
}

.aptidao {
    padding: 50px;
}

.habilidades {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}

.lista-habilidades {
    display: flex;
    gap: 10px;
    margin-top: 64px;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidade {
    border: 2px black solid;
    border-radius: 5px;
    padding: 35px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    min-width: 186px;
    font-size: 60px;
}

.habilidade span {
    font-size: 1rem;
    font-weight: bold;
}

.habilidade:hover {
    color: white;
    background-color: black;
}

.experiencia {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: white;
    padding: 40px;
}

.historico {
    background-color: black;
}

.experiencias {
    color: white;
    font-size: 20px;
    border: 2px solid #27272A;
    border-radius: 5px;
    padding: 20px;
}

.experiencias:hover {
    background-color: #27272A;

}

.texto-exp {
    color: rgba(255, 255, 255, 0.719);
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
}

.exp {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.inline-block {
    display: inline-block;
}

.por-mim {
    display: flex;
    padding: 50px;

}

.sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 70px 0px 70px;
}

.por-mim h2 {
    font-size: 48px;
}

.img-sobre-mim {
    width: 525.42px;
    height: 572px;
    padding-left: 40px;
}

.por-mim p {
    font-size: 16px;
    line-height: 24px;
    color: #71717A;
}

.planos {
    background-color: black;
    padding: 60px 80px 60px 80px;
}

.planos p {
    flex-direction: column;
}

.planos h2 {
    text-align: center;
    color: white;
    font-size: 48px;
}

.projeto-um {
    display: flex;
    align-items: center;
}

.texto-projetos {
    color: #71717A;
    font-size: 16px;
    margin-top: 30px;
}

.projeto-titulo {
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.projeto-corpo {}

.abrir-icone {
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 24px 80px 24px 80px;
    color:white;
}

.rodape-direita {
    display: flex;
    gap: 12px;
    color: white;
    font-size: 16px;
}

.nome a {
    color: white;
    font-size: 20px;
}

@media (max-width: 700px) {
    .menu-navegacao {
        display: none;
    }

}

.lista-habilidades {
    gap: 0px;
}

.habilidade {
    margin: 15px;
}

@media (max-width: 1310px) {
    .por-mim {
        flex-direction: column;
    }

    .img-sobre-mim {
        text-align: center;
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .apresentacao {
        flex-direction: column-reverse;
    }

    .inicio {
        width: 100%;
        margin-top: 20px;
    }

    .img-apresentacao {
        height: 100%;
    }

    .img-sobre-mim {
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }

    .sobre-mim {
        padding: 40px 16px 40px 16px;
    }

    .por-mim {
        padding: 10px;
    }

    .img-projeto {
        width: 100%;
    }

    .projeto-um {
        display: flex;
        flex-direction: column;
    }

    .planos {
        padding: 16px 40px 16px;
    }
    .rodape-esquerda {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }
    .rodape {
        padding: 20px 16px 20px 16px;
    }
    .rodape-direita {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .exp{
        padding: 15px;
    }
}